.button_movie {
    border-radius: 30px;
    min-width: 100px;
    height: 29px;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0;
    justify-self: center;
    margin: 14px auto;
    background: #F9F9F9;

}

.button_movieSaved {
    background-image: url("../../images/icon__COLOR_icon-main-min.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F9F9F9;

}
.button_success {
    background: #FF4062 url("../../images/checkMark.svg") no-repeat center;
    height: 29px;
}

.button_black {
    background-color: #000000;
    color: white;
    border-radius: 3px;
}

.button_edit {
    background: none;
}
.button_showMore {
    padding: 11px 50px 9px;
    width: 100%;
    background: #F9F9F9;
    border-radius: 6px;
}

.button_form-auth {
    width: 100%;
    padding: 15px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
}

@media screen and (min-width: 1280px){
    .button_movie {
        margin: 18px auto;
    }
    .button_showMore {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        padding-top: 11px;
        padding-bottom: 9px;
        margin-top: 6px;
    }
}
