.button_movie {
    border-radius: 30px;
    min-width: 100px;
    padding: 9px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0;
    justify-self: center;
    margin: 14px auto;
}
.button_default {
    background: #F9F9F9;;
}

.button_success {
    background: #FF4062 url("../../images/checkMark.svg");
}

.button_black {
    background-color: #000000;
    color: white;
    border-radius: 3px;
}

.button_edit {
    background: none;
}

.button_form-auth {
    width: 100%;
    padding: 15px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
}
