.profile {
    display: flex;
    flex-direction: column;
    padding: 144px 30px 40px;
}

.profile__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    text-align: center;
    margin: 0 auto 80px;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 456px;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: flex-end;
}

.profile__button {
    margin: 0 auto 16px;
    background: none;
}
.profile__button:last-child {
    margin: 0 auto;
}

.profile__button_exit {
    color: #FF4062;
}


