.techs-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 84px);
    margin: 0 10px;
    align-content: center;
    justify-content: center;
}

.techs__heading {
    text-align: center;
    margin: 0 auto 24px;
}

.techs-list__item {
    background-color: #E8E8E8;
    padding: 21px 0;
    text-align: center;
    border-radius: 10px;
    line-height: 15px;
}

.section__subheading_techs {
    text-align: center;
    margin: 0 auto 50px;
}

.section__title_techs {
    margin-bottom: 60px;
}


@media screen and (min-width: 768px) {
    .techs {
        background-color: #F5F5F5;
    }

    .section__title_techs::after {
        margin-bottom: 80px;
    }
    .techs__subheading {
        font-size: 12px;
        line-height: 18px;
        width: 460px;
        margin: 0 auto 83px;
    }

    .techs-list__item {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (min-width: 1280px) {
    .techs {
        padding: 100px 0;
    }

    .techs-list__item {
        font-size: 14px;
        line-height: 17px;
    }
}
