.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 14px;
}

.header__nav_center {
    justify-content: center;
    padding-top: 56px;
}

.header__burger_hidden {
    display: none;
}

.burger__line {
    width: 30px;
    height: 2px;
    background-color: #000000;
    margin: 0 0 10px;
    transition: 0.3s;
}

.burger__line:last-child {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .header__burger {
        display: none;
    }

    .header__nav {
        min-width: 708px;
        max-width: 1140px;
        margin: 0 auto;
        padding: 18px 30px;
    }
}

/*@media screen and (min-width: 1280px) {*/
/*    .header__nav {*/

/*        margin: 0 auto;*/
/*    }*/

/*}*/
